.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-image: linear-gradient(45deg, rgba(132, 0, 255, 0.979), rgb(255, 94, 0));
  height: 45px;
  width: 100%;
  font-size: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  height: auto;
  width: auto;
  border: 1px solid #111;
  margin-top: 15px;
  margin-bottom: 15px;
}

.photo {
  /* width: 90%; */
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #111;
}

.canvas {
  width: auto;
  height: auto;
  /* background-size: 100% 100%; */
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #111;
}

.fileUpload {
  display: none;
}

.classes {
  margin: 20px;
}